In [6]:
import pandas as pd
import numpy as np
import sys
from optimize_dataframe import optimize_dataframe

In [3]:
test = np.random.rand(10000,100)
df = pd.DataFrame(test)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.407371,0.391181,0.129914,0.524212,0.804163,0.738456,0.097090,0.078352,0.812489,0.201863,...,0.855294,0.422638,0.443767,0.082590,0.206104,0.933907,0.721591,0.005635,0.764399,0.729073
1,0.009851,0.792792,0.558106,0.402839,0.554677,0.730649,0.041269,0.310517,0.200402,0.926470,...,0.553864,0.499986,0.268043,0.180757,0.933778,0.262434,0.173980,0.786474,0.038503,0.399969
2,0.480157,0.448846,0.938636,0.312339,0.052922,0.022547,0.499186,0.047071,0.226169,0.087824,...,0.502463,0.076337,0.734446,0.107749,0.625284,0.100302,0.221281,0.623590,0.530182,0.380631
3,0.585045,0.826452,0.240723,0.225188,0.887027,0.742057,0.334628,0.969639,0.270678,0.053667,...,0.023143,0.614352,0.031668,0.623538,0.221199,0.552710,0.762872,0.327133,0.168591,0.693376
4,0.761784,0.856399,0.062525,0.980092,0.568108,0.909319,0.827496,0.855112,0.800637,0.169553,...,0.657658,0.652876,0.331417,0.138599,0.025772,0.464001,0.556303,0.767262,0.842012,0.414403

In [8]:
print(sys.getsizeof(df))
df_opt = optimize_dataframe(df)
print(sys.getsizeof(df_opt))
df.head()

8000104
optimize dataframe (8000104 to 4000104, ratio: 2.0)
4000104

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.407371,0.391181,0.129914,0.524212,0.804163,0.738456,0.097090,0.078352,0.812489,0.201863,...,0.855294,0.422638,0.443767,0.082590,0.206104,0.933907,0.721591,0.005635,0.764399,0.729073
1,0.009851,0.792792,0.558106,0.402839,0.554677,0.730649,0.041269,0.310517,0.200402,0.926470,...,0.553864,0.499986,0.268043,0.180757,0.933778,0.262434,0.173980,0.786474,0.038503,0.399969
2,0.480157,0.448846,0.938636,0.312339,0.052922,0.022547,0.499186,0.047071,0.226169,0.087824,...,0.502463,0.076337,0.734446,0.107749,0.625284,0.100302,0.221281,0.623590,0.530182,0.380631
3,0.585045,0.826452,0.240723,0.225188,0.887027,0.742057,0.334628,0.969639,0.270678,0.053667,...,0.023143,0.614352,0.031668,0.623538,0.221199,0.552710,0.762872,0.327133,0.168591,0.693376
4,0.761784,0.856399,0.062525,0.980092,0.568108,0.909319,0.827496,0.855112,0.800637,0.169553,...,0.657658,0.652876,0.331417,0.138599,0.025772,0.464001,0.556303,0.767262,0.842012,0.414403